* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(43deg, #c8e1f4, #185a9b);
  font-family: helvetica;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 1rem;
}

.game-title {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.subway-n,
.subway-y,
.subway-c,
.countdown-number {
  display: inline-block;
  border-radius: 50%;
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
}

.subway-n {
  background-color: green;
  margin-right: 8px;
}

.subway-y {
  background-color: blue;
  margin-right: 8px;
}

.subway-c {
  background-color: red;
}

.container {
  margin: 0 auto;
  max-width: 590px;
}

.instructions-container {
  text-align: center;
  height: auto;
}

.instructions-title {
  font-size: 1.75rem;
  color: white;
  margin-bottom: 0.75rem;
}

.instructions-list {
  color: white;
  font-size: 1.25rem;
  margin: 0 50px;
  list-style-position: inside;
  text-align: left;
}

li {
  margin-bottom: 0.75rem;
}

.game-state-container {
  text-align: center;
}

.over-message {
  color: #741818;
  text-align: center;
  font-size: 2.5rem;
  margin: auto;
  text-transform: uppercase;
}

.btn-start {
  color: #38137e;
  background-color: lightskyblue;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  padding: 1rem 5rem;
  margin: 1rem 0 0.5rem 0;
}

.btn-start:hover {
  background-color: #5bbcf8;
}

.btn-restart {
  color: #38137e;
  background-color: lightskyblue;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem 5rem;
  margin-top: 1rem;
}

.btn-restart:hover {
  background-color: #5bbcf8;
}

.score-container {
  border: 2px solid #185a9b;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem auto 1rem auto;
  width: 40%;
  padding: 0.25rem;
}

p {
  color: white;
  margin: auto;
}

.countdown-container {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.countdown-number {
  background-color: black;
}

.btns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
}

.btn {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 80px;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-coffee {
  background-color: #c4dabc;
}

.btn-coffee:active:enabled {
  transform: translateY(10px);
  box-shadow: 2px 2px 4px #c4dabc;
}

.btn-bagel {
  background-color: #fceec2;
}

.btn-bagel:active:enabled {
  transform: translateY(10px);
  box-shadow: 2px 2px 4px #fceec2;
}

.btn-pizza {
  background-color: #f4ccccff;
}

.btn-pizza:active:enabled {
  transform: translateY(10px);
  box-shadow: 2px 2px 4px #f4ccccff;
}

.btn-sushi {
  background-color: #c9daf8ff;
}

.btn-sushi:active:enabled {
  transform: translateY(10px);
  box-shadow: 2px 2px 4px #c9daf8ff;
}

.img {
  padding: 5px;
  max-width: 125px;
}

.shake {
  animation: shake 0.5s 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.credits {
  margin: 4rem 2rem 1rem 0;
  font-size: 0.75rem;
  align-self: flex-end;
}

.credit-title {
  text-decoration: underline;
}

a {
  color: white;
}

a:hover {
  color: #7598f8;
}

/* mobile design */
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
    min-height: 0;
  }
  .game-title {
    font-size: 2rem;
  }

  .subway-n,
  .subway-y,
  .subway-c,
  .countdown-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .container {
    max-width: 400px;
  }

  .instructions-container {
    text-align: center;
    height: auto;
    max-width: 600px;
  }

  .instructions-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .instructions-list {
    font-size: 1.25rem;
    margin: 0 10px 0 10px;
    list-style-position: inside;
    text-align: left;
    padding-inline-start: 10px;
  }

  .btn-start {
    color: #38137e;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.75rem 3rem;
    border-radius: 25px;
  }

  .over-message {
    font-size: 1.5rem;
  }

  .btn-restart {
    color: #38137e;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.75rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
  }

  .score-container {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .countdown-container {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .btns-container {
    gap: 0.5rem 0.5rem;
  }

  .btn {
    padding: 40px;
  }

  .img {
    padding: 5px;
    max-width: 100px;
  }

  .credits {
    margin: 2rem 0 1rem 1rem;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 380px;
  }

  .instructions-list {
    font-size: 1.25rem;
    margin: 0 20px 0 5px;
  }

  .over-message {
    font-size: 1.5rem;
  }

  .btn-start {
    color: #38137e;
    margin-bottom: 1rem;
  }

  .btn-restart {
    color: #38137e;
    margin-bottom: 1rem;
  }
}
