* {
  box-sizing: border-box;
}

body {
  border: 2px solid blue;
  background-color: #434343ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-title {
  border: 2px solid red;
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.btns-container {
  border: 2px solid greenyellow;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  gap: 2rem;
  max-width: 1080px;
}

.btn {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 80px;

}

.btn:hover {
transition: .5s;
}

.btn-coffee {
  background-color: #d9ead3ff;
}

.btn-coffee:hover {
  background-color: green;
}

.btn-bagel {
  background-color: #ffe599ff;
}

.btn-bagel:hover {
  background-color: gold;
}

.btn-pizza {
  background-color: #f4ccccff;
}

.btn-pizza:hover {
  background-color: red;
}

.btn-sushi {
  background-color: #c9daf8ff;
}

.btn-sushi:hover {
  background-color: blue;
}

.img {
  padding: 5px;
  border: 2px solid orange;
  max-width: 200px;
}

.score-container {
  border: 2px solid hotpink;
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

p {
  color: white;
  margin: auto;
}

.hidden {
  visibility: hidden;
}