* {
  box-sizing: border-box;
}

body {
  border: 2px solid blue;
  background: linear-gradient(43deg, #7b7a7a, #434343ff);
  font-family: helvetica;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-title {
  border: 2px solid red;
  color: white;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.subway-letters {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
}

/* .subway-n {
  background-color: green;
} */

.container {
  margin: auto;
}

.btns-container {
  border: 2px solid greenyellow;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  gap: 1rem 1rem;
  max-width: 980px;
}

.btn {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 80px;
}

button:hover {
  transition: 0.5s;
}

.btn-coffee {
  background-color: #d9ead3ff;
}

.btn-coffee:hover {
  background-color: green;
}

.btn-bagel {
  background-color: #ffe599ff;
}

.btn-bagel:hover {
  background-color: gold;
}

.btn-pizza {
  background-color: #f4ccccff;
}

.btn-pizza:hover {
  background-color: red;
}

.btn-sushi {
  background-color: #c9daf8ff;
}

.btn-sushi:hover {
  background-color: blue;
}

.img {
  padding: 5px;
  border: 2px solid orange;
  max-width: 125px;
}

.score-container {
  border: 2px solid hotpink;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0 2rem 0;
}

p {
  color: white;
  margin: auto;
}

.intro-container {
  border: 1px solid blueviolet;
  text-align: center;
  height: auto;
}

.intro-message {
  color: white;
  margin: auto;
  padding-bottom: 2rem;
}

.over-message {
  color: #ea9d9d;
  text-align: center;
  font-size: 2.5rem;
  margin: auto;
}

.btn-restart {
  background-color: lightskyblue;
  border: none;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1rem 4rem;
  margin: 1rem 0 2rem 0;
}

.btn-restart:hover {
  background-color: #3d3de2;
  color: white
}
